<!--The content below is only a placeholder and can be replaced.-->
<sng-notification></sng-notification>
<sng-dialog-anchor defaultCaption="My Caption"></sng-dialog-anchor>

<h1>Simple ng-widgets</h1>

<h2>simple-ng-dialog</h2>
<button (click)="showDialog1=true">Show Dialog 1</button>
<sng-dialog *ngIf="showDialog1" (close)="showDialog1=false" (ok)="onOk(1)">Dialog 1 content</sng-dialog>
<hr>
<button (click)="showDialog2=true">Show Dialog 2</button>
<sng-dialog caption="My Custom Caption" [custom]="true" *ngIf="showDialog2" (close)="showDialog2=false">
<div style="width: 250px; height: 150px; background: #eee; padding: 10px">My Custom Dialog</div>
<div style="text-align: center; padding: 25px;">
  <button (click)="showDialog1=true">Dialog 1</button>
  <br><br>
  <button (click)="onOk(2)">Done!</button>
</div>
</sng-dialog>

<hr>

<button (click)='prompt()'>Prompt</button> <button (click)='confirm()'>Confirm</button> <button (click)='inputBox()'>Input Box</button>

<h2>simple-ng-notification</h2>
<button (click)='notify()'>Notify</button>
<button (click)='busy()'>Busy</button>

<h2>simple-ng-date-select</h2>
<sng-date-select [(ngModel)]='myDate'></sng-date-select>